@import url('https://fonts.googleapis.com/css?family=Pacifico');

.root{
	-fx-font-family: "Avenir Next";
	-fx-background-color: #F0F4F8;
	-fx-alignement: center;
	-fx-padding: 25px;
	-fx-spacing: 10px;
}

.label{
	-fx-text-fill: #044E54;
}

#labelInfo{
    -fx-font: bold 28px Pacifico;
	-fx-padding: 0 0 40px 0;

}


#listViewDevice{

    -fx-font: bold 12px "Avenir Next";
    -fx-text-fill: #FFF;
    //-fx-background-color: #FF0A0A;

    -fx-background-radius: 4;
    -fx-border-radius: 14;
    -fx-padding: 10;
}


.button{
	-fx-font-size: 16px;
	-fx-background-color: #FF0A0A;
	-fx-background-radius: 5px;
	-fx-text-fill: #FFF;
	-fx-padding: 10px;
}

.button:hover {
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);

}


